.container{
    animation: fadein;
    animation-duration: 1s;
}
.container.shop-container, .container.players-container{
    margin-top: 175px;
}

.container.user-container, .container.market-container{
    margin-top: 175px;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
body{
    background-color: #000;
    background-image: url("./image.jpg");
}
div.vertical-spacer{
    height: 200px;
    background: none;
}
a{
    color: #fff;
    text-decoration: none;
    background-color: #1565c0;
}
a:hover, a:focus{
    color: #fff;
    text-decoration: none;
}
.btn{
    width: 100px;
}
a.main{
    position: absolute;
    top: 100px;
    left: 650px;
    width: 200px;
    height: 200px; 
    background: none;
    -moz-border-radius: 150px; 
    -webkit-border-radius: 150px; 
    border-radius: 100px;
    animation: pop;
    animation-duration: 2s;
}

a.main.home{
   
    top: 10px;
    
}
a.main > span
{
    font-size: 40px;
    position: relative;
    top: 30px;
    left: 20px;
}
a.user{
    display: none;
    position: absolute;
    top: 150px;
    left: 400px;
    width: 125px;
    height: 125px; 
    background:none; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 63px;
    animation: pop,rota;
    animation-duration: 2s;
}
a.user > span
{
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 20px;
}
a.players{
    display: none;
    position: absolute;
    top:250px;
    left: 500px;
    width: 125px;
    height: 125px; 
    background:none; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 63px;
    animation: pop;
    animation-duration: 2s;
}
a.players > span
{
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 20px;
}
a.shop{
    display: none;
    position: absolute;
    top:250px;
    left: 800px;
    width: 125px;
    height: 125px;  
    background:none; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 63px;
    animation: pop,rota;
    animation-duration: 2s;
}
a.shop > span
{
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 20px;
}
a.market{
    display: none;
    position: absolute;
    top:300px;
    left: 650px;
    width: 125px;
    height: 125px;  
    background: none; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 63px;
    animation: pop,rota;
    animation-duration: 2s;
}
a.market > span
{
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 20px;
}
a.signout{
    display: none;
    position: absolute;
    top:150px;
    left: 900px;
    width: 125px;
    height: 125px;  
    background: none; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 63px;
    animation: pop,rota;
    animation-duration: 2s;
}
a.signout > span
{
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 20px;
}
@keyframes pop{
    from{
        -webkit-transform: scale(0);
        transform : scale(0);   
    }
    to{
    }
}
a.butto-main{
    display: block;
    position: absolute;
    top:10px;
    left: 650px;
    width: 300px;
    height: 50px;
    background: none;
    font-size: 30px;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    animation: main-up;
    animation-duration: 1s;
}
@keyframes main-up{
    from {
        top:200px;
        left: 600px;
        width: 200px;
        height: 200px;
        border-radius: 63px;        
    }
    to {
        top: 10px;
        left: 650px;
        width: 300px;
        height: 50px;
        border-radius: 0px;
    }

}

.butto-shop{
    display: none;
    position: absolute;
    top:100px;
    left: 1000px;
    width: 100px;
    height: 50px;
    background: none;
    font-size:20px;  
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 5px;
    animation: shop-up;
    animation-duration: 1s;
}
@keyframes shop-up{
    from {
        top: 100px;
        left: 875px;
        width: 125px;
        height: 125px;
        border-radius: 63px;        
    }
    to {
        top: 100px;
        left: 1000px;
        width: 100px;
        height: 50px;
        border-radius: 5px;
    }

}
a.butto-shop > h2{
    position: absolute;
    top: -10px;
    left: 5px;
}

.butto-user{
    display: block;
    position: absolute;
    top: 100px;
    left: 400px;        
    width: 100px;
    height: 50px;
    background: none;
    font-size:20px;  
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 5px;
    animation: user-up;
    animation-duration: 1s;
}
@keyframes user-up{
    from {
        top:150px;
        left: 400px;
        width: 125px;
        height: 125px; 
        border-radius: 63px;        
    }
    to {
        top:100px;
        left: 400px;
        width: 100px;
        height: 50px;
        border-radius: 5px;
    }

}
a.butto-user > h2{
    position: absolute;
    top: -10px;
    left: 5px;
}

.butto-market{
    display: block;
    position: absolute;
    top:100px;
    left: 700px;
    width: 100px;
    height: 50px;
    background: none;
    font-size:20px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 5px;
    animation: market-up;
    animation-duration: 1s;
}
@keyframes market-up{
    from {
        top:475px;
        left: 650px;
        width: 125px;
        height: 125px;  
        border-radius: 63px;        
    }
    to {
        top:100px;
        left: 700px;
        width: 100px;
        height: 50px;  
        border-radius: 5px;
    }

}
a.butto-market > h2{
    position: absolute;
    top: -10px;
    left: 5px;
}
a.butto-logout{
    display: block;
    position: absolute;
    top: 10px;
    left: 1200px;
    width: 100px;
    height: 50px;   
    background: none;
    font-size: 20px;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    animation: logout-up;
    animation-duration: 1s;
}
@keyframes logout-up{
    from {
        top:150px;
        left: 900px;
        width: 125px;
        height: 125px;  
        border-radius: 63px;        
    }
    to {
        top: 10px;
        left: 1200px;
        width: 100px;
        height: 50px;
        border-radius: 0px;
    }

}
